<ion-header>
  <ion-toolbar>
    <ion-title>Products Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- This component demonstrates Angular's component interaction techniques:
       1. Input Binding: Passing the 'products' array from the parent to the child via [products]="products".
       2. Output/Event Binding: Listening to the 'addProductToProductsCard' event emitted from the child component, which triggers handleAddProductToProductsCard($event).
  -->
  <app-product [products]="products" [showAddProductButton]="false"></app-product>
</ion-content>